[profile.default]
src = "src"
out = "out"
libs = ["lib"]
solc = "0.8.20"
optimizer = true
optimizer_runs = 200
via_ir = false

[rpc_endpoints]
paseo-assethub = "https://testnet-passet-hub-eth-rpc.polkadot.io"
